$tablet: 980px;
$mobile: 768px;
$tan: #e0dbcc;

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Marcellus);
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);
@import 'starter_pack.scss';

.sans {
	font-family: 'Oswald', sans-serif;
}

.sansb {
	font-family: 'Roboto', sans-serif;
}

.serif {
	font-family: 'Marcellus', serif;
}

.serifb {
	font-family: 'Cinzel', serif;
}

.table {
	display: table;
	width: 100%;
	.td {
		display: table-cell;
		vertical-align: middle;
	}
}
.half {
	width: 50%;
	float: left;
	@media ( max-width: $tablet ) {
		width: auto!important;
		float: none!important;
	}
}

.third {
	width: 40%;
	float: left;
}

.twothirds {
	width: 60%;
	float: left;
}

img {
	max-width: 100%;
}

html, body {
	font-size: $base_font_size;
	background: $secondary;
	line-height: 1.368;
	@extend .serif;
	@media(max-width: 1100px) {
		font-size: 1.25vw;
	}
	@media ( max-width: $tablet ) {
		font-size: 14px;
	}
}
body {
	overflow-x: hidden;
}

body {
	background: $primary;
	@media ( max-width: $tablet ) {
		padding-top: 4rem;
	}
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
}

a {
	color: inherit;
}

#header {
	background: url('../img/header.jpg') center center no-repeat;
	background-size: cover;
	color: $grey;
	font-weight: 300;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	@extend .sans;
	ul {
		text-align: justify;
		overflow: hidden;
		height: 3em;
		word-spacing: 0;
		li {
			display: inline-block;
			&:not(.menu-icon) + li {
				border-left: 1px solid #fff;
				padding-left: 1.75rem;
				@media( max-width: 1140px ) {
					padding-left: 1rem;
				}
				@media( max-width: 818px ) {
					padding-left: 0;
					border-left: none;
				}
			}
			&.last {
				width: 100%;
				height: 0;
			}
			a {
				display: inline-block;
				padding: .9em 0;
				text-decoration: none;
				text-align: center; 
				width: 100%;
				&:hover {
					color: $primary;
				}
				&[href^='tel'] {
					@extend .sansb;
					font-weight: 700;
				}
			}
		}
	}
	@media ( max-width: $tablet ) {
		nav {
			background: rgba(0,0,0, .8);
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			top: 5rem;
			padding: 2rem 0;
			overflow-y: auto;
			font-size: 1.5rem;
			transform: translateY(-100%);
			-webkit-transform: translateY(-100%);
			opacity: 0;
			transition: all .2s ease;
			ul {
				height: auto;
				text-align: center;
				li {
					display: block;
					border: none!important;
					padding-left: 0!important; 
				}
			}
		}
	}
}

@media ( max-width: $tablet ) {
	.shown-mobile-menu #header nav {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

#nav-icon3 {
  font-size: 5px;
  width: 6em;
  height: 4.5em;
  position: relative;
  margin: 5em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: .9em;
  width: 100%;
  background: $primary;
  border-radius: .9em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 1.8em;
}

#nav-icon3 span:nth-child(4) {
  top: 3.6em;
}

#nav-icon3.open span:nth-child(1) {
  top: 1.8em;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 1.8em;
  width: 0%;
  left: 50%;
}

.menu-icon {
	display: none!important;
	@media( max-width: $tablet ) {
		display: block!important;
	}
}

.flexslider {
	margin:0;
	padding: 0;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#home {
	overflow: hidden;
	position: relative;
	.container {
		position: relative;
		z-index: 2;
		.spacer {
			padding-bottom: 10%;
			@media ( max-width: $tablet ) {
				padding-bottom: 20%;
			}
		}
	}
} 

.home__blocks {
	margin: 0 auto;
	padding-bottom: 3rem;
	@media ( max-width: $tablet ) {
		background: $tan;
		margin: 0 -1em;
		padding-top: 1rem;
	} 
	li {
		display: inline-block;
		width: 32.8%;
		@media ( max-width: $tablet ) {
			display: block;
			width: auto;
		}
		a {
			width: 100%;
			display: block;
			background: url('../img/as-seen.png') center center no-repeat;
			background-size: contain;
			overflow: hidden;
			text-indent: -99999px;
			padding-bottom: 40%;
			position: relative;
			@media ( max-width: $tablet ) {
				margin-top: 2em;
			}
			&.book {
				background-image: url('../img/dirt-rich.png');
				padding-bottom: 65%;
				right: -2rem;
				@media ( max-width: $tablet ) {
					right: -6%;
				}
			}
			&.report {
				background-image: url('../img/free-reports.png');
				padding-bottom: 64%;
				top: -4.3rem;
				@media ( max-width: $tablet ) {
					top: 0;
					right: -5%;
				}
			}
		}
	}
}

.logo-lrg {
	display: block;
	width: 60%;
	margin: 0 auto;
	padding-top: 2rem; 
	@media ( max-width: $tablet ) {
		padding-top: 1rem;
		width: 100%;
	}
}

p {
	padding-bottom: 1.618em;
}

h3 {
	@extend .serifb;
	font-size: 1.5em;
}

#footer {
	padding: 2rem 0;
	background: $secondary;
	color: #fff;
	font-size: .6rem;
	@media ( max-width: $tablet ) {
		font-size: .8rem;
	}
	line-height: 1.368;
	@extend .sansb;
	.container > .half {
		float: right;
		& + .half {
			float: left;
		}
	}
	.half .half:first-child {
		@media ( min-width: $tablet ) {
			padding-left: 3rem;
		}
	}
	.half .half {
		padding-bottom: 2rem;
		@media ( max-width: $tablet ) {
			text-align: center;
		}
	}
	.quicklinks {
		li {
			display: block;
			padding: .25em 0;
		}
		a {
			text-decoration: none;
		}
	}
}

.social {
	word-spacing: .25em;
	li {
		display: inline-block;
		a {
			display: block;
			width: 36px;
			height: 36px;
			overflow: hidden;
			text-indent: -99999px;
			background-size: contain;
			background-repeat: no-repeat;
			&.fb {
				background-image: url('../img/facebook.jpg');
			}
			&.twitter {
				background-image: url('../img/twitter.jpg');
			}
			&.linkedin {
				background-image: url('../img/linkedin.jpg');
			}
		}
	}
}

h1 {
	font-size: 2.5em;
	@extend .serifb;
	background: url('../img/blurred_line.png') bottom center no-repeat;
	background-size: 100% auto;
	margin-bottom: .25em;
	.num {
		font-size: 1.2em;
		padding-right: .25em;
	}
}

#about {
	font-size: .9rem;
	background: url('../img/about-bg.jpg') top center no-repeat;
	background-color: #010a1d;
	background-size: 100% auto;
}

.about-section-1 {
	color: #fff;
	.marketplace {
		width: 100%;
		max-width: 80%;
		padding: 2rem;
		margin-top: -5rem;
		float: right;
	}
}

.about-section-2 {
	display: table;
	min-width: 100%;
	margin: 0 -1rem;
	.a {
		display: table-cell;
		background: url('../img/about-section-2.jpg') top center no-repeat;
		background-size: cover;
		float: none;
	}
	.b {
		display: table-cell;
		color: #fff;
		background: $secondary;
		padding: 1rem;
		float: none;
	}
}

.about-section-3 {
	display: table;
	min-width: 100%;
	margin: 0 -1rem;
	h1 {
		background-image: url('../img/blurred_line_dark.png');
	}
	.a {
		display: table-cell;
		background: url('../img/about-section-2b.jpg') top center no-repeat;
		background-size: cover;
		float: none;
	}
	.b {
		display: table-cell;
		color: #464f58;
		background: $tan;
		padding: 1rem;
		float: none;
	}
}

h2 {
	font-size: 2em;
}

.about-section-4 {
	display: table;
	min-width: 100%;
	margin: 0 -1rem;
	.a {
		display: table-cell;
		background: url('../img/frank.jpg') top center no-repeat;
		background-size: cover;
		float: none;
	}
	.b {
		display: table-cell;
		color: #fff;
		background: $secondary;
		padding: 1rem;
		float: none;
	}
}

.about-section-5 {
	display: table;
	min-width: 100%;
	margin: 0 -1rem;
	h1 {
		background-image: url('../img/blurred_line_dark.png');
	}
	.third {
		width: 33%;
		background: url('../img/excellence.jpg') center center no-repeat;
		background-size: contain;
		display: table-cell;
		float: none;
		padding: 5rem;
		vertical-align: middle;
		background-color: $tan;
	}
	.twothirds {
		background: $tan;
		width: 66%;
		display: table-cell;
		float: none;
		padding: 5rem;
		vertical-align: middle;
		@media ( max-width: $tablet ) {
			padding: 1rem;
		}
	}
}

.about-section-6 {
	display: table;
	min-width: 100%;
	margin: 0 -1rem;
	h1 {
		background-image: url('../img/blurred_line_dark.png');
	}
	.container {
		> div {
			background-color: $tan;
			padding: 3rem;
			@media ( max-width: $tablet ) {
				padding: 1rem;
			}
		}
	}
}

.dan {
	font-size: 1.5em;
	.td {
		padding: 2em;
		&:first-child {
			@media ( max-width: $tablet ) {
				padding: 0;
			}
		}
		.attribution {
			margin-left: 2em;
			font-size: .8em;
			position: relative;
			&:before {
				content: '–';
				position: absolute;
				left: -.8em;
			}
		}
	}
}

@media ( max-width: $tablet ) {
	.mobile-no {
		display: none!important;
	}
}

h1 {
	.sm {
		font-size: .5em;
		display: block;
	}
}

#bio {
	background-size: cover;
	background-attachment: fixed;
	h1 {
		font-size: 2.2rem;
	}
}

.bio-1 {
	padding-top: 3rem;
	@media( min-width: $tablet ) {
		background: url('../img/dude.jpg') top right no-repeat;
		background-size: cover;
		padding-top: 3rem;
		color: #fff;
		.third {
			width: 40%;
			padding: 2rem;
			background: rgba(0,0,0, .4);
			margin-left: -1rem;
			padding-bottom: 10rem;
		}
	}
	@media( max-width: $tablet ) {
		background: $secondary;
		.third {
			width: auto;
			float: none;
			color: #fff;
			padding: 1rem 2rem;
			background: rgba(255,255,255, .4);
			padding-top: 3rem;
		}
	}
	.sig {
		text-align: right;
		padding-right: 5rem;
		margin-top: -1em;
		img {
			max-width: 50%;
		}
	}
}

.bio-2 {
	background: url('../img/bio.jpg') top center no-repeat;
	background-attachment: fixed;
	color: #fff;
	padding: 3rem 3rem;
	h1 {
		@media ( min-width: $tablet ) {
			max-width: 60%;
		}
	}
}

@media( min-width: $tablet ) {
	.twocol {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    column-gap: 2rem;
	    -webkit-column-gap: 2rem;
	    -moz-column-gap: 2rem;
	}
}

strong {
	font-weight: 700
}

small {
	font-size: .8em;
}

.acc {
	text-align: center;
	.plaque {
		vertical-align: top;
		@media ( max-width: $tablet ) {
			width: 220px;
			margin: 0 auto;
			display: block;
		}
		> span {
			background: url('../img/plaque.jpg') top center no-repeat;
			background-size: 100% 100%;
			display: block;
			line-height: 1;
			padding: 1em .5em;
			color: #000;
		}
	}
	strong {
		@extend .sansb; 
		font-weight: 700;
	}
	.q {
		padding: 1em 30%;
	}
}

.photo-slider {
	margin: 2rem 0;
	margin-bottom: 0;
	.attr {
		display: none;
	}
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		width: 25%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		padding-bottom: 20%;
		margin: 0 -3%;
		position: relative;
		z-index: 2;
		transition: width .2s ease;
		&:nth-child(3) {
			width: 39%;
			z-index: 6;
			padding-bottom: 31%;
		}
		&:nth-child(1),
		&:nth-child(5) {
			width: 20%;
			padding-bottom: 16%;
			z-index: 1;
		}
		@media ( max-width: $tablet ) {
			&:nth-child(3) {
				width: 52%;
				margin: 0 -9.1%;
				padding-bottom: 42%;
			}
		}
	}
}
#bio {
	.text {
		h1 {
			font-size: 1.8rem;
		}
	}
}

.fam-jpg {
	float: right;
	width: 40%;
	padding-left: 2rem;
}

.excel-png {
	float: left;
	width: 25%;
	padding-right: 2rem;
}

.serve-jpg {
	float: left;
	width: 50%;
	padding-right: 2rem;
	& + h1 {
		display: inline-block;
	}
}

.card-jpg {
	float: right;
	width: 50%;
	padding-left: 2rem;
	& + h1 {
		display: inline-block;
	}
}

@media ( max-width: $tablet ) {
	.fam-jpg,
	.excel-png,
	.card-jpg,
	.serve-jpg {
		display: none;
	}
}

#faq {
	padding-top: 1rem;
	font-size: .8rem;
}

h1 {
	line-height: 1em;
	padding-bottom: 2%;
}

.faq-1 {
	padding: 3rem;
	padding-top: 6rem;
	background: url('../img/faq-1.jpg') top center no-repeat;
	background-size: cover;
	padding-bottom: 36%;
	min-height: 100vh;
	@media ( max-width: $tablet ) {
		padding-bottom: 45rem;
	}
	h1 {
		background-image: url('../img/blurred_line_dark.png');
	}
	@media ( min-width: $tablet ) {
		.half:first-child {
			padding-right: 2rem;
			& + .half {
				padding-left: 2rem;
			}
		}
	}
}

.faq-2 {
	padding: 3rem;
	background: url('../img/faq-2.jpg') top center no-repeat;
	background-size: cover;
	h1 {
		background-image: url('../img/blurred_line_dark.png');
	}
	> div {
		max-width: 90%;
		> div {
			max-width: 80%;
		}
	}
}

.faq-3{
	background: $secondary;
	padding: 3rem;
	color: #fff;
	@media ( min-width: $tablet ) {
		.half:first-child {
			padding-right: 2rem;
			& + .half {
				padding-left: 2rem;
			}
		}
	}
}

.faq-4 {
	background: $tan;
	h1 {
		@media( min-width: $tablet ) {
			max-width: 80%;
			&.leading {
				max-width: 50%;
				padding-right: 2rem;
			}
		}
		background-image: url('../img/blurred_line_dark.png');
		&.leading {
			margin-bottom: 0;
		}
	}
	padding: 3rem;
	padding-bottom: 0;
}

.faq-5 {
	padding: 0;
	.cont {
		> div {
			background: $tan;
			padding: 1rem 3rem;
			& + div {
				background: $secondary;
				color: #fff;
				padding-bottom: 3rem;
				.fine-print {
					@extend .sansb;
					font-size: .6em;
				}
			}
		}
	}
	.td {
		width: 50%;
		&.second {
			background: url('../img/tower.jpg') top center no-repeat;
			background-size: cover;
		} 
	}

	@media ( max-width: $tablet ) {
		.td {
			width: 100%;
			display: block;
			&.second {
				padding-bottom: 100%;
			}
		}
	}
}



#contact .container {
	background: #fff;
	padding: 0 3rem;
}

#contact {
	padding-top: 3rem;
	@media ( max-width: $tablet ) { 
		padding-top: 1rem;
	}
	img.container {
		width: 100%;
		display: block;
		padding: 0;
	}
	h1 {
		font-size: 2em;
		padding-bottom: 0;
		background: transparent;
	}

	.half {
		@extend .sansb;
	}
	@media ( min-width: $tablet ) {
		.half {
			padding-right: 3em;
			& + .half {
				padding-right: 0;
				padding-left: 3em;
				background: url('../img/cblur.jpg') center left no-repeat;
				background-size: auto 100%;
				p {
					padding-bottom: 1em;
				}
			}
		}
	}
	h4 {
		font-weight: 700;
		text-decoration: underline;
	}
	img[src^="img/map"] {
		padding-bottom: 2rem;
	}

	img[src^="img/copr"],
	img[src^="img/farm"] {
		float: right;
		width: 28%;
	}
	form {
		padding-bottom: 3rem;
	}
}


form .table {
	width: 100%;
}
form {
	padding-bottom: 1rem;
}

input:not([type="submit"]):not([type="checkbox"]),
textarea {
	display: block;
	width: 100%;
	font-size: 1em;
	margin-bottom: .45em;
	border-radius: .45em;
	padding: .25em;
	-webkit-appearance: none;
	border: 1px solid #333;
}

label {
	color: #333;
}

textarea {
	height: 6em;
}

input[type="submit"] {
	background: $primary;
	color: #fff;
	font-size: 1em;
	-webkit-appearance: none;
	border: none;
	@extend .sans;
	font-weight: 100;
	text-transform: uppercase;
	padding: .25em 1em;
	margin-top: 1rem;
	cursor: pointer;
}

textarea {
	margin-top: 1rem;
}


#book {
	padding-top: 3rem;
	.third {
		padding-top: 2rem;
		max-width: 35%;
		@media ( max-width: $tablet ) {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			float: none;
			padding-bottom: 4rem;
		}
	}
	@media ( max-width: $tablet ) { 
		padding-top: 1rem;
	}
	.container {
		background: url('../img/bio.jpg') top center no-repeat;
		background-size: cover;
		padding: 0 3rem;
		color: #fff;
		@extend .sansb;
	}
	.hi {
		display: block;
		max-width: 80%;
		margin: 0 auto;
		padding-top: 2rem;
		@media ( max-width: $tablet ) {
			max-width: 99%;
		}
	}
	.twothirds {
		float: right;
		margin-lefT: -2rem;
		img {
			max-width: 120%;
		}
		p {
			padding-right: 30%;
		}
		@media ( max-width: $tablet ) {
			display: none;
		}
	}
	label {
		color: #fff;
	}
	input[type="submit"] {
		overflow: hidden;
		text-indent: -99999px;
		background: url('../img/continue.png') center center no-repeat;
		background-size: cover;
		padding-bottom: 7%;
		width: 10rem;
	}
}