@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Marcellus);
@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  outline: none;
  -webkit-overflow-scrolling: touch; }

html {
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

img {
  max-width: 100%; }

body {
  font-family: 'PT Sans', sans-serif; }

.clear {
  clear: both; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.sans, #header, input[type="submit"] {
  font-family: 'Oswald', sans-serif; }

.sansb, #header ul li a[href^='tel'], #footer, .acc strong, .faq-5 .cont > div + div .fine-print, #contact .half, #book .container {
  font-family: 'Roboto', sans-serif; }

.serif, html, body {
  font-family: 'Marcellus', serif; }

.serifb, h3, h1 {
  font-family: 'Cinzel', serif; }

.table {
  display: table;
  width: 100%; }
  .table .td {
    display: table-cell;
    vertical-align: middle; }

.half {
  width: 50%;
  float: left; }
  @media (max-width: 980px) {
    .half {
      width: auto !important;
      float: none !important; } }

.third {
  width: 40%;
  float: left; }

.twothirds {
  width: 60%;
  float: left; }

img {
  max-width: 100%; }

html, body {
  font-size: 20px;
  background: #003399;
  line-height: 1.368; }
  @media (max-width: 1100px) {
    html, body {
      font-size: 1.25vw; } }
  @media (max-width: 980px) {
    html, body {
      font-size: 14px; } }

body {
  overflow-x: hidden; }

body {
  background: #9d7a3b; }
  @media (max-width: 980px) {
    body {
      padding-top: 4rem; } }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem; }

a {
  color: inherit; }

#header {
  background: url("../img/header.jpg") center center no-repeat;
  background-size: cover;
  color: #c5c9cc;
  font-weight: 300;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  #header ul {
    text-align: justify;
    overflow: hidden;
    height: 3em;
    word-spacing: 0; }
    #header ul li {
      display: inline-block; }
      #header ul li:not(.menu-icon) + li {
        border-left: 1px solid #fff;
        padding-left: 1.75rem; }
        @media (max-width: 1140px) {
          #header ul li:not(.menu-icon) + li {
            padding-left: 1rem; } }
        @media (max-width: 818px) {
          #header ul li:not(.menu-icon) + li {
            padding-left: 0;
            border-left: none; } }
      #header ul li.last {
        width: 100%;
        height: 0; }
      #header ul li a {
        display: inline-block;
        padding: .9em 0;
        text-decoration: none;
        text-align: center;
        width: 100%; }
        #header ul li a:hover {
          color: #9d7a3b; }
        #header ul li a[href^='tel'] {
          font-weight: 700; }
  @media (max-width: 980px) {
    #header nav {
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 5rem;
      padding: 2rem 0;
      overflow-y: auto;
      font-size: 1.5rem;
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      opacity: 0;
      transition: all .2s ease; }
      #header nav ul {
        height: auto;
        text-align: center; }
        #header nav ul li {
          display: block;
          border: none !important;
          padding-left: 0 !important; } }

@media (max-width: 980px) {
  .shown-mobile-menu #header nav {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; } }
#nav-icon3 {
  font-size: 5px;
  width: 6em;
  height: 4.5em;
  position: relative;
  margin: 5em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: .9em;
  width: 100%;
  background: #9d7a3b;
  border-radius: .9em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 1.8em; }

#nav-icon3 span:nth-child(4) {
  top: 3.6em; }

#nav-icon3.open span:nth-child(1) {
  top: 1.8em;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 1.8em;
  width: 0%;
  left: 50%; }

.menu-icon {
  display: none !important; }
  @media (max-width: 980px) {
    .menu-icon {
      display: block !important; } }

.flexslider {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

#home {
  overflow: hidden;
  position: relative; }
  #home .container {
    position: relative;
    z-index: 2; }
    #home .container .spacer {
      padding-bottom: 10%; }
      @media (max-width: 980px) {
        #home .container .spacer {
          padding-bottom: 20%; } }

.home__blocks {
  margin: 0 auto;
  padding-bottom: 3rem; }
  @media (max-width: 980px) {
    .home__blocks {
      background: #e0dbcc;
      margin: 0 -1em;
      padding-top: 1rem; } }
  .home__blocks li {
    display: inline-block;
    width: 32.8%; }
    @media (max-width: 980px) {
      .home__blocks li {
        display: block;
        width: auto; } }
    .home__blocks li a {
      width: 100%;
      display: block;
      background: url("../img/as-seen.png") center center no-repeat;
      background-size: contain;
      overflow: hidden;
      text-indent: -99999px;
      padding-bottom: 40%;
      position: relative; }
      @media (max-width: 980px) {
        .home__blocks li a {
          margin-top: 2em; } }
      .home__blocks li a.book {
        background-image: url("../img/dirt-rich.png");
        padding-bottom: 65%;
        right: -2rem; }
        @media (max-width: 980px) {
          .home__blocks li a.book {
            right: -6%; } }
      .home__blocks li a.report {
        background-image: url("../img/free-reports.png");
        padding-bottom: 64%;
        top: -4.3rem; }
        @media (max-width: 980px) {
          .home__blocks li a.report {
            top: 0;
            right: -5%; } }

.logo-lrg {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding-top: 2rem; }
  @media (max-width: 980px) {
    .logo-lrg {
      padding-top: 1rem;
      width: 100%; } }

p {
  padding-bottom: 1.618em; }

h3 {
  font-size: 1.5em; }

#footer {
  padding: 2rem 0;
  background: #003399;
  color: #fff;
  font-size: .6rem;
  line-height: 1.368; }
  @media (max-width: 980px) {
    #footer {
      font-size: .8rem; } }
  #footer .container > .half {
    float: right; }
    #footer .container > .half + .half {
      float: left; }
  @media (min-width: 980px) {
    #footer .half .half:first-child {
      padding-left: 3rem; } }
  #footer .half .half {
    padding-bottom: 2rem; }
    @media (max-width: 980px) {
      #footer .half .half {
        text-align: center; } }
  #footer .quicklinks li {
    display: block;
    padding: .25em 0; }
  #footer .quicklinks a {
    text-decoration: none; }

.social {
  word-spacing: .25em; }
  .social li {
    display: inline-block; }
    .social li a {
      display: block;
      width: 36px;
      height: 36px;
      overflow: hidden;
      text-indent: -99999px;
      background-size: contain;
      background-repeat: no-repeat; }
      .social li a.fb {
        background-image: url("../img/facebook.jpg"); }
      .social li a.twitter {
        background-image: url("../img/twitter.jpg"); }
      .social li a.linkedin {
        background-image: url("../img/linkedin.jpg"); }

h1 {
  font-size: 2.5em;
  background: url("../img/blurred_line.png") bottom center no-repeat;
  background-size: 100% auto;
  margin-bottom: .25em; }
  h1 .num {
    font-size: 1.2em;
    padding-right: .25em; }

#about {
  font-size: .9rem;
  background: url("../img/about-bg.jpg") top center no-repeat;
  background-color: #010a1d;
  background-size: 100% auto; }

.about-section-1 {
  color: #fff; }
  .about-section-1 .marketplace {
    width: 100%;
    max-width: 80%;
    padding: 2rem;
    margin-top: -5rem;
    float: right; }

.about-section-2 {
  display: table;
  min-width: 100%;
  margin: 0 -1rem; }
  .about-section-2 .a {
    display: table-cell;
    background: url("../img/about-section-2.jpg") top center no-repeat;
    background-size: cover;
    float: none; }
  .about-section-2 .b {
    display: table-cell;
    color: #fff;
    background: #003399;
    padding: 1rem;
    float: none; }

.about-section-3 {
  display: table;
  min-width: 100%;
  margin: 0 -1rem; }
  .about-section-3 h1 {
    background-image: url("../img/blurred_line_dark.png"); }
  .about-section-3 .a {
    display: table-cell;
    background: url("../img/about-section-2b.jpg") top center no-repeat;
    background-size: cover;
    float: none; }
  .about-section-3 .b {
    display: table-cell;
    color: #464f58;
    background: #e0dbcc;
    padding: 1rem;
    float: none; }

h2 {
  font-size: 2em; }

.about-section-4 {
  display: table;
  min-width: 100%;
  margin: 0 -1rem; }
  .about-section-4 .a {
    display: table-cell;
    background: url("../img/frank.jpg") top center no-repeat;
    background-size: cover;
    float: none; }
  .about-section-4 .b {
    display: table-cell;
    color: #fff;
    background: #003399;
    padding: 1rem;
    float: none; }

.about-section-5 {
  display: table;
  min-width: 100%;
  margin: 0 -1rem; }
  .about-section-5 h1 {
    background-image: url("../img/blurred_line_dark.png"); }
  .about-section-5 .third {
    width: 33%;
    background: url("../img/excellence.jpg") center center no-repeat;
    background-size: contain;
    display: table-cell;
    float: none;
    padding: 5rem;
    vertical-align: middle;
    background-color: #e0dbcc; }
  .about-section-5 .twothirds {
    background: #e0dbcc;
    width: 66%;
    display: table-cell;
    float: none;
    padding: 5rem;
    vertical-align: middle; }
    @media (max-width: 980px) {
      .about-section-5 .twothirds {
        padding: 1rem; } }

.about-section-6 {
  display: table;
  min-width: 100%;
  margin: 0 -1rem; }
  .about-section-6 h1 {
    background-image: url("../img/blurred_line_dark.png"); }
  .about-section-6 .container > div {
    background-color: #e0dbcc;
    padding: 3rem; }
    @media (max-width: 980px) {
      .about-section-6 .container > div {
        padding: 1rem; } }

.dan {
  font-size: 1.5em; }
  .dan .td {
    padding: 2em; }
    @media (max-width: 980px) {
      .dan .td:first-child {
        padding: 0; } }
    .dan .td .attribution {
      margin-left: 2em;
      font-size: .8em;
      position: relative; }
      .dan .td .attribution:before {
        content: '–';
        position: absolute;
        left: -.8em; }

@media (max-width: 980px) {
  .mobile-no {
    display: none !important; } }
h1 .sm {
  font-size: .5em;
  display: block; }

#bio {
  background-size: cover;
  background-attachment: fixed; }
  #bio h1 {
    font-size: 2.2rem; }

.bio-1 {
  padding-top: 3rem; }
  @media (min-width: 980px) {
    .bio-1 {
      background: url("../img/dude.jpg") top right no-repeat;
      background-size: cover;
      padding-top: 3rem;
      color: #fff; }
      .bio-1 .third {
        width: 40%;
        padding: 2rem;
        background: rgba(0, 0, 0, 0.4);
        margin-left: -1rem;
        padding-bottom: 10rem; } }
  @media (max-width: 980px) {
    .bio-1 {
      background: #003399; }
      .bio-1 .third {
        width: auto;
        float: none;
        color: #fff;
        padding: 1rem 2rem;
        background: rgba(255, 255, 255, 0.4);
        padding-top: 3rem; } }
  .bio-1 .sig {
    text-align: right;
    padding-right: 5rem;
    margin-top: -1em; }
    .bio-1 .sig img {
      max-width: 50%; }

.bio-2 {
  background: url("../img/bio.jpg") top center no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding: 3rem 3rem; }
  @media (min-width: 980px) {
    .bio-2 h1 {
      max-width: 60%; } }

@media (min-width: 980px) {
  .twocol {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    column-gap: 2rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem; } }
strong {
  font-weight: 700; }

small {
  font-size: .8em; }

.acc {
  text-align: center; }
  .acc .plaque {
    vertical-align: top; }
    @media (max-width: 980px) {
      .acc .plaque {
        width: 220px;
        margin: 0 auto;
        display: block; } }
    .acc .plaque > span {
      background: url("../img/plaque.jpg") top center no-repeat;
      background-size: 100% 100%;
      display: block;
      line-height: 1;
      padding: 1em .5em;
      color: #000; }
  .acc strong {
    font-weight: 700; }
  .acc .q {
    padding: 1em 30%; }

.photo-slider {
  margin: 2rem 0;
  margin-bottom: 0; }
  .photo-slider .attr {
    display: none; }
  .photo-slider ul {
    font-size: 0; }
  .photo-slider li {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    padding-bottom: 20%;
    margin: 0 -3%;
    position: relative;
    z-index: 2;
    transition: width .2s ease; }
    .photo-slider li img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0; }
    .photo-slider li:nth-child(3) {
      width: 39%;
      z-index: 6;
      padding-bottom: 31%; }
    .photo-slider li:nth-child(1), .photo-slider li:nth-child(5) {
      width: 20%;
      padding-bottom: 16%;
      z-index: 1; }
    @media (max-width: 980px) {
      .photo-slider li:nth-child(3) {
        width: 52%;
        margin: 0 -9.1%;
        padding-bottom: 42%; } }

#bio .text h1 {
  font-size: 1.8rem; }

.fam-jpg {
  float: right;
  width: 40%;
  padding-left: 2rem; }

.excel-png {
  float: left;
  width: 25%;
  padding-right: 2rem; }

.serve-jpg {
  float: left;
  width: 50%;
  padding-right: 2rem; }
  .serve-jpg + h1 {
    display: inline-block; }

.card-jpg {
  float: right;
  width: 50%;
  padding-left: 2rem; }
  .card-jpg + h1 {
    display: inline-block; }

@media (max-width: 980px) {
  .fam-jpg,
  .excel-png,
  .card-jpg,
  .serve-jpg {
    display: none; } }
#faq {
  padding-top: 1rem;
  font-size: .8rem; }

h1 {
  line-height: 1em;
  padding-bottom: 2%; }

.faq-1 {
  padding: 3rem;
  padding-top: 6rem;
  background: url("../img/faq-1.jpg") top center no-repeat;
  background-size: cover;
  padding-bottom: 36%;
  min-height: 100vh; }
  @media (max-width: 980px) {
    .faq-1 {
      padding-bottom: 45rem; } }
  .faq-1 h1 {
    background-image: url("../img/blurred_line_dark.png"); }
  @media (min-width: 980px) {
    .faq-1 .half:first-child {
      padding-right: 2rem; }
      .faq-1 .half:first-child + .half {
        padding-left: 2rem; } }

.faq-2 {
  padding: 3rem;
  background: url("../img/faq-2.jpg") top center no-repeat;
  background-size: cover; }
  .faq-2 h1 {
    background-image: url("../img/blurred_line_dark.png"); }
  .faq-2 > div {
    max-width: 90%; }
    .faq-2 > div > div {
      max-width: 80%; }

.faq-3 {
  background: #003399;
  padding: 3rem;
  color: #fff; }
  @media (min-width: 980px) {
    .faq-3 .half:first-child {
      padding-right: 2rem; }
      .faq-3 .half:first-child + .half {
        padding-left: 2rem; } }

.faq-4 {
  background: #e0dbcc;
  padding: 3rem;
  padding-bottom: 0; }
  .faq-4 h1 {
    background-image: url("../img/blurred_line_dark.png"); }
    @media (min-width: 980px) {
      .faq-4 h1 {
        max-width: 80%; }
        .faq-4 h1.leading {
          max-width: 50%;
          padding-right: 2rem; } }
    .faq-4 h1.leading {
      margin-bottom: 0; }

.faq-5 {
  padding: 0; }
  .faq-5 .cont > div {
    background: #e0dbcc;
    padding: 1rem 3rem; }
    .faq-5 .cont > div + div {
      background: #003399;
      color: #fff;
      padding-bottom: 3rem; }
      .faq-5 .cont > div + div .fine-print {
        font-size: .6em; }
  .faq-5 .td {
    width: 50%; }
    .faq-5 .td.second {
      background: url("../img/tower.jpg") top center no-repeat;
      background-size: cover; }
  @media (max-width: 980px) {
    .faq-5 .td {
      width: 100%;
      display: block; }
      .faq-5 .td.second {
        padding-bottom: 100%; } }

#contact .container {
  background: #fff;
  padding: 0 3rem; }

#contact {
  padding-top: 3rem; }
  @media (max-width: 980px) {
    #contact {
      padding-top: 1rem; } }
  #contact img.container {
    width: 100%;
    display: block;
    padding: 0; }
  #contact h1 {
    font-size: 2em;
    padding-bottom: 0;
    background: transparent; }
  @media (min-width: 980px) {
    #contact .half {
      padding-right: 3em; }
      #contact .half + .half {
        padding-right: 0;
        padding-left: 3em;
        background: url("../img/cblur.jpg") center left no-repeat;
        background-size: auto 100%; }
        #contact .half + .half p {
          padding-bottom: 1em; } }
  #contact h4 {
    font-weight: 700;
    text-decoration: underline; }
  #contact img[src^="img/map"] {
    padding-bottom: 2rem; }
  #contact img[src^="img/copr"],
  #contact img[src^="img/farm"] {
    float: right;
    width: 28%; }
  #contact form {
    padding-bottom: 3rem; }

form .table {
  width: 100%; }

form {
  padding-bottom: 1rem; }

input:not([type="submit"]):not([type="checkbox"]),
textarea {
  display: block;
  width: 100%;
  font-size: 1em;
  margin-bottom: .45em;
  border-radius: .45em;
  padding: .25em;
  -webkit-appearance: none;
  border: 1px solid #333; }

label {
  color: #333; }

textarea {
  height: 6em; }

input[type="submit"] {
  background: #9d7a3b;
  color: #fff;
  font-size: 1em;
  -webkit-appearance: none;
  border: none;
  font-weight: 100;
  text-transform: uppercase;
  padding: .25em 1em;
  margin-top: 1rem;
  cursor: pointer; }

textarea {
  margin-top: 1rem; }

#book {
  padding-top: 3rem; }
  #book .third {
    padding-top: 2rem;
    max-width: 35%; }
    @media (max-width: 980px) {
      #book .third {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        float: none;
        padding-bottom: 4rem; } }
  @media (max-width: 980px) {
    #book {
      padding-top: 1rem; } }
  #book .container {
    background: url("../img/bio.jpg") top center no-repeat;
    background-size: cover;
    padding: 0 3rem;
    color: #fff; }
  #book .hi {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2rem; }
    @media (max-width: 980px) {
      #book .hi {
        max-width: 99%; } }
  #book .twothirds {
    float: right;
    margin-lefT: -2rem; }
    #book .twothirds img {
      max-width: 120%; }
    #book .twothirds p {
      padding-right: 30%; }
    @media (max-width: 980px) {
      #book .twothirds {
        display: none; } }
  #book label {
    color: #fff; }
  #book input[type="submit"] {
    overflow: hidden;
    text-indent: -99999px;
    background: url("../img/continue.png") center center no-repeat;
    background-size: cover;
    padding-bottom: 7%;
    width: 10rem;
    border-radius: 10px; }

label {
  display: block; }

#book.reports .container {
  background-image: url("../img/rrbg.jpg"); }
  @media (max-width: 980px) {
    #book.reports .container {
      padding-left: 0;
      padding-right: 0; } }
#book.reports .third {
  max-width: 50%;
  padding: 3rem;
  background: url("../img/rrb.png") center center no-repeat;
  background-size: cover; }
  @media (max-width: 980px) {
    #book.reports .third {
      max-width: 400px; } }
#book.reports .twothirds {
  max-width: 50%;
  float: left;
  margin-left: -10px; }
  #book.reports .twothirds img {
    padding-top: 4rem; }

/*# sourceMappingURL=style.css.map */
